@charset "utf-8";

/* 本style.css部分借鉴于ustc.life的开源项目，在此声明并感谢 */

/*================================================= Reset ============================================================*/
/*
html {
    color: #777;
    background-color: #f1f1f1;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
a, a:link, a:visited {
   text-decoration: none!important;
}

a.focus:hover {
    color: #3498DB!important;
    transition:color 0.5s;
}

button, a:active, a:hover, a:focus, input {
    outline: none;
}
input:required:invalid, input:focus:invalid {
    box-shadow: none;
}
.clear {
    clear: both;
}

/* HTML5 标签支持 */
header, section, footer, aside, nav, article, figure {
    display: block;
}
/* 依次为 macOS Windows Linux 字体回退 */
html, body, h1, h2, a, p, span, div {
    font-weight: normal;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

::selection {
    background:#b2d7ff;

::-moz-selection {
    background:#b2d7ff;
}
::-webkit-selection {
    background:#b2d7ff;
}
/*=============================================== END Reset ==========================================================*/
/*=================================================== banner ===========================================================*/
.banner {
    float: left;
    text-align: center;
    width: 33%;
}
/*================================================END banner ===========================================================*/
/*=================================================== main ===========================================================*/
.u_main-wrapper {
    max-width: 1200px;
    margin: 60px auto auto auto;
}/*
.main {
    margin: 10px!important;
}*/
.main-col {
    float: left;
    width: 33%;
}
.main-block {
    margin: 10px 5px 5px 5px!important;
    padding: 10px!important;
    background-color: white;
}
.block-title {
    display: block;
    margin: 5px auto 10px 15px!important;
    font-size: 18px!important;
    color: #337ab7;
}
.block-grid {
    float: left;
    width: 33%;
    text-align: center;
    height: 120px!important;
}
.block-grid > a {
    display: block;
    color: #777;
}
/* 矢量图标 */
.icon {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
@media (max-width: 1000px) {
    .u_main-wrapper {
        margin: 60px auto auto auto;
    }
    .main-col {
        width: 100%;
    }
}
.footer {
	text-align: center;
}
.foota {
	color: black!important;
}
/*================================================= END main =========================================================*/
/*=================================================  payment =========================================================*/

.etitle,.einput {
    float:left;
    height:26px
}
.payBtn {
    margin: 0 auto;
}
.einput {
    width:200px;
    margin-left:20px
}
.einput input {
    width:398px;
    height:24px;
    border:1px solid #0ae!important;
    font-size:16px
}
.alipayform {
    width:800px;
    margin:0 auto;
    height:600px;
    border:1px solid #0ae!important;
}
/*================================================ END payment =======================================================*/